<div class="ui inverted vertical footer segment orange">
  <div class="ui center aligned container">

    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="#">Site Map</a>
      <a class="item" href="#">Contact Us</a>
      <a class="item" href="#">Terms and Conditions</a>
      <a class="item" href="#">Privacy Policy</a>
    </div>
    <p class="copyright">© 2017 gentle-stream.com all rights reserved</p>
  </div>
</div>
