<div class="ui main text container">
  <h1>List of users</h1>

  <% @users.each do |u| %>
    <% if u != @current_user %>
      <p><%= u.name %> <%= link_to "add", friendships_path(:friend_id => u), :method => :post, class: "mini ui basic button orange" %></p>
    <%end%>
  <%end%>
</div>
