<h1>Sign up</h1>

<%= form_tag "/signup", method: "post" do %>
  <p>
    <label>Username:</label>
    <input type="text" name="name">
  </p>
  <p>
    <label>Email:</label>
    <input type="text" name="email">
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password">
  </p>
  <p>
    <input type="submit" value="Sign up">
  </p>
<%end%>
