<div class="ui main text container">
  <h1>Your friends</h1>

  <% @current_user.friendships.each do |friendship| %>
    <p><%= friendship.friend.name %> <%= link_to "remove", friendship, :method => :delete %></p>
  <%end%>

  <p> <%= link_to "Find Friends", users_path %> </p>

  <h1>People befriended you</h1>
  <% @current_user.inverse_friends.each do |i| %>
    <p><%= i.name %></p>
  <%end%>
</div>
