/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .ui {
   margin: 0 !important;
   bottom: 0 !important;
 }

.item {
  font-weight: bold !important;
}

.home {
  margin-left: 50px !important;
}

.button {
  margin-right: 10px !important;
}

.basic {
  margin: 0 !important;
  padding: 5px !important;
}

/*.secondary {
  border: none !important;
}*/

.signin_user_text {
  font-weight: bold !important;
  margin-left: 90%;
}

.date {
  float: right !important;
}

.copyright {
  font-size: 10px;
  color: rgba(255,255,255,0.5)
}

.main.container {
  margin-top: 1em;
}

.ui.footer.segment {
  position: fixed;
  margin: 0;
  padding: 2em 0em;
}

.footer {
  bottom: 0 !important;
  width: 100% !important;
}

.masthead {
  height: 100%;
}

.segment {
  border-radius: 0px !important;
}

.ui.inverted.header {
  margin-top: 200px !important;
}

.signin {
  margin-top: 20px !important;
}

.signup {
  margin-top: 20px !important;
}

.notices {
  /*padding-top: 10px !important;*/
}

.start {
  color: white;
}

.start:hover {
  color: white;
}

.ui.main.text.container.pushable {
  margin-bottom: 100px !important;
}

.ui.piled.segment.feed {
 margin-top: 20px !important;
}
